{% set collection = page.collection() %}

{% block body_content %}
  {% if collection | length %}
    <div class="col-full">
      <div class="wrap-col">
        <div class="slider_wrapper">
          <ul class="items">
            {% for item in collection %}
            <li>
              <img src="{{ url('theme://assets/images/spacer.gif') }}" alt="" />
              <div class="caption banner slide_{{ loop.index0 }}">
                <h2>{{ item.title }}</h2>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="socials">
          <a class="fa-{{ grav.theme.config.social_links.social0.name }}" href="{{ grav.theme.config.social_links.social0.link }}">
            <i class="fa fa-{{ grav.theme.config.social_links.social0.name }}" aria-hidden="true"></i>
          </a>
          <a class="fa-{{ grav.theme.config.social_links.social1.name }}" href="{{ grav.theme.config.social_links.social0.link }}">
            <i class="fa fa-{{ grav.theme.config.social_links.social1.name }}" aria-hidden="true"></i>
          </a>
          <a class="fa-{{ grav.theme.config.social_links.social2.name }}" href="{{ grav.theme.config.social_links.social0.link }}">
            <i class="fa fa-{{ grav.theme.config.social_links.social2.name }}" aria-hidden="true"></i>
          </a>
          <a class="fa-{{ grav.theme.config.social_links.social3.name }}" href="{{ grav.theme.config.social_links.social0.link }}">
            <i class="fa fa-{{ grav.theme.config.social_links.social3.name }}" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
