{% set collection = page.collection() %}

{% block body_content %}
  <div class="col-full">
    <div class="wrap-col">
      <div class="slogan">
        <h3>{{ page.title }}</h3>
        <div class="text1">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>

  {% if collection | length %}
    {% for item in collection %}
      <div class="col-1-4">
        <div class="wrap-col">
          <div class="box maxheight">
            {% set image = item.media.images | first %}
            <img src="{{ image.url }}" alt="{{ item.slug }}" />
            <div class="text1"><a href="#">{{ item.title }}</a></div>

            {{ item.header.subtitle }}

            <div class="socials socials1">
              <a class="fa-{{ item.header.social_links.social0.name }}" href="{{ item.header.social_links.social0.link }}">
                <i class="fa fa-{{ item.header.social_links.social0.name }}" aria-hidden="true"></i>
              </a>
              <a class="fa-{{ item.header.social_links.social1.name }}" href="{{ item.header.social_links.social1.link }}">
                <i class="fa fa-{{ item.header.social_links.social1.name }}" aria-hidden="true"></i>
              </a>
              <a class="fa-{{ item.header.social_links.social2.name }}" href="{{ item.header.social_links.social2.link }}">
                <i class="fa fa-{{ item.header.social_links.social2.name }}" aria-hidden="true"></i>
              </a>
              <a class="fa-{{ item.header.social_links.social3.name }}" href="{{ item.header.social_links.social3.link }}">
                <i class="fa fa-{{ item.header.social_links.social3.name }}" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
