{% block body_content %}
    <div class="col-full">
        <div class="wrap-col">
            <div class="slogan">
                <h3>{{ page.title }}</h3>
                <div class="text1">
                    {{ page.content }}

                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <div class="map">
        <div class="col-1-4">
            <div class="wrap-col">
                <div class="text1">{{ page.header.addressstring }}</div>
                <address>
                    <dl>
                        {% if page.header.address %}
                            <dt>
                                {% for line in page.header.address %}
                                    {{ line }}<br/>
                                {% endfor %}
                            </dt>
                        {% endif %}
                        {% for element in page.header.other %}
                            <dd><span class="{{ element.fa }}"><i class="fa fa-{{ element.fa }}"
                                                                  aria-hidden="true"></i></span>{{ element.content }}
                            </dd>
                        {% endfor %}
                    </dl>
                </address>
            </div>
        </div>
        <div class="col-1-4 map">
            {% include 'partials/googlemaps.html.twig' with {
            width:'100%',
            height: '100%',
            lng: page.header.map.lng,
            lat: page.header.map.lat,
            zoom: '13',
            scrollwheel: 'true',
            draggable: '1',
            pancontrol: '0',
            } %}
        </div>
        <div class="col-1-2">
            <div class="wrap-col">
                <div class="text1">{{ page.header.title }}</div>

                {% if config.plugins.form.enabled %}
                    {% include "forms/form.html.twig" %}
                {% endif %}
            </div>
        </div>

        <div class="clear"></div>
    </div>
{% endblock %}
